<style>
  
  .full_width_column {
    width: 100%;
    background: #e28e81;
    text-align: center;
  }
  
  .full_width_column h1 {
    font-size: 30px;
    color: #fff;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 80px 0;
  }
  
  ul.divider_box_main {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0;
  }
  
  ul.divider_box_main li {
    width: 41%;
    list-style: none;
    text-align: left;
    margin: 110px 0 0;
  }
  
  ul.divider_box_main li p {
    font-size: 14px;
    color: #000;
    line-height: 27px;
    font-family: 'Montserrat';
  }
  
  ul.divider_box_main li ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  
  ul.divider_box_main li ul li {
    width: 30%;
    margin: 0;
  }
  
  ul.divider_box_main li ul li p {
    font-size: 15px;
    color: #E38F82;
    font-weight: 500;
    font-family: 'Montserrat';
    line-height: 19px;
    text-align: center;
  }
  
  ul.divider_box_main li ul li img {
    width: 75px;
    display: block;
    margin: 30px auto 14px;
    height: 70px;
    object-fit: contain;
  }
  
  ul.divider_box_main li h2 {
    font-size: 24px;
    font-family: Georgia;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 2px solid #edc4bd;
    padding: 0 22px 0 0;
    margin: 0 0 21px;
  }
  
 .report_box {
   background: #ffc8bf;
   width: 520px;
   margin: 110px auto 0;
   text-align: center;
   padding: 50px 32px 50px;
   color: #000;
   font-size: 15px;
   line-height: 28px;
  }
  
  .report_box p {
    font-family: 'Montserrat';
  }
  
  .report_box a {
    font-size: 15px;
    border-bottom: 1px solid #000;
    padding: 0 9px 3px;
    text-transform: uppercase;
    font-family: georgia;
    display: inline-block;
    margin: 10px 0 0;
  }
  
  /***** media query *****/
  
  @media(max-width: 991px) {
    
    ul.divider_box_main {
      width: 100%;
    }
    
    ul.divider_box_main li {
      width: 48%;
    }
    
  }
  
  @media(max-width: 768px) {
    
    ul.divider_box_main li {
      width: 100%;
    }
    
    .report_box {
      max-width: 95%;
      margin: 90px auto 0;
    }
    
  }
  
  @media(max-width: 599px) {
    
    .full_width_column h1 {
      font-size: 22px;
      padding: 40px 0;
    }
    
    ul.divider_box_main li {
      margin: 50px 0 0;
    }
    
    ul.divider_box_main li h2 {
      font-size: 18px;
    }
    
    
  }
  
</style>

<div class="full_width_column">
  
  <div class="Container">
    <h1 class="SectionHeader__Heading Heading u-h1">'Please take good care of me</h1>
  </div>
  
</div>

<div class="Container">
 
  	
  <ul class="divider_box_main">
    
    <li>
      
      <h2>Avoid Me From Water</h2>
      <p>I will tell you a secret,"I am allergic to water!". My polish fades
		out faster and I lose my shine when exposed to water. Here's
        what you can do to keep me shiny as new, keep me away
        while you go for a nice bath or dives into a swimming pool</p>
      
        <ul class="feature_list">
          <li>
            <img class="lazyload" src="{{'icon1.png' | asset_url}}" />
            <p>Avoid <br />Shower</p>
          </li>
          <li>
            <img class="lazyload" src="{{'icon2.png' | asset_url}}" />
            <p>Avoid <br />Moisture</p>
          </li>
          <li>
            <img class="lazyload" src="{{'icon3.png' | asset_url}}" />
            <p>Avoid <br />Swim</p>
          </li>

        </ul>
      
   	 </li>
    
   <li>
      
      <h2>I HATE SCENTS.</h2>
      <p>Yes, you read that correctly. Even perfume tarnishes my polish and I lose my shining coat. To help me prevent losing my shine, put me away when you apply perfumes and moisturizer.</p>
      
        <ul class="feature_list">
          <li>
            <img class="lazyload" src="{{'icon4.png' | asset_url}}" />
            <p>NO <br />PERFUMES</p>
          </li>
          <li>
            <img class="lazyload" src="{{'icon5.png' | asset_url}}" />
            <p>NO <br />CHEMICALS</p>
          </li>
          <li>
            <img class="lazyload" src="{{'icon6.png' | asset_url}}" />
            <p>NO <br />SCENTS</p>
          </li>

        </ul>
      
   	 </li>
    
    <li>
      
      <h2>WE SLEEP SEPARATELY</h2>
      <p>I know how much you love me but we must sleep separately. I get tangled up with myself and clothes or bedsheets 
        which leads to the wear and tear of stones embedded in me. Put me to sleep in the box I came in, it's very comfortable for me there.</p>
      
        <ul class="feature_list">
          <li>
            <img class="lazyload" src="{{'icon7.png' | asset_url}}" />
            <p>Avoid <br />WHILE SLEEPING</p>
          </li>
          <li>
            <img class="lazyload" src="{{'icon8.png' | asset_url}}" />
            <p>GETS <br />TANGLED</p>
          </li>
          <li>
            <img class="lazyload" src="{{'icon9.png' | asset_url}}" />
            <p>KEEP <br />IN BOX</p>
          </li>

        </ul>
      
   	 </li>
    
   <li>
      
      <h2>FIRST OFF, LAST ON</h2>
      <p>I should be the last thing you wear when getting ready to go somewhere and the ﬁrst thing to remove when returned home. 
     This gives me the care I need and I will stay ﬁne. The longer you follow the rule the longer I will be a part of your collection.</p>
      
        <ul class="feature_list">
          <li>
            <img class="lazyload" src="{{'icon10.png' | asset_url}}" />
            <p>WEAR IT <br />LAST</p>
          </li>
          <li>
            <img class="lazyload" src="{{'icon11.png' | asset_url}}" />
            <p>HANDLE <br />WISELY</p>
          </li>
          <li>
            <img class="lazyload" src="{{'icon12.png' | asset_url}}" />
            <p>LAST <br />LONGER</p>
          </li>

        </ul>
      
   	 </li>
    
  </ul>
  
  <div class="report_box">
    <p>Keep these simple promises, take the right care & your jewelry will last longer. If you still have any issues, let us know. We want 
    you to love wearing your Whitehaathi Jewelry.</p>
    <a href="#">REPORT AN ISSUE</a>
  </div>
  
  
</div>