<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|GFS+Didot:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.15.0/css/main-style.css?t=20201215221213"><link rel="stylesheet" href="{{ 'pagefly.0a4a1cbd.css' | asset_url }}">
		  {% if product_4498994004016 == null %}{%- assign product_4498994004016 = all_products['ylang-ylang-body-wash'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["4498994004016"] = {
					id: {{product_4498994004016.id | json }},
					handle: {{product_4498994004016.handle | json }},
					title: {{product_4498994004016.title | json }},
					type: {{product_4498994004016.type | json }},
					url: {{product_4498994004016.url | json }},
					vendor: {{product_4498994004016.vendor | json }},
					variants: {{product_4498994004016.variants | json }},
					options: {{product_4498994004016.options | json }},
					media: {{product_4498994004016.media | json }},
					has_only_default_variant: {{product_4498994004016.has_only_default_variant | json }},
					options_with_values: {{product_4498994004016.options_with_values | json }},
					selected_variant: {{product_4498994004016.selected_variant | json }},
					selected_or_first_available_variant: {{product_4498994004016.selected_or_first_available_variant | json }},
					tags: {{product_4498994004016.tags | json }},
					template_suffix: {{product_4498994004016.template_suffix | json }},
					featured_image: {{product_4498994004016.featured_image | json }},
					featured_media: {{product_4498994004016.featured_media | json }},
					images: {{product_4498994004016.images | json }}
				};
window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-56f52459"><div data-pf-type="Layout" class="pf-ce3356f5"><div data-container="true" class="sc-pZopv bjKdkd pf-6e6c1cfb" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-345a6e6c pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-83b3345a" data-pf-type="Column"><div data-product-id="4498994004016" data-default-variant="31865837617200" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-8f5283b3">{% assign defaultProduct = product %}{% assign product = product_4498994004016 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-e58f5283" %}<div class="sc-qPjXN eYzxUD pf-3ce58f52 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-b4334265" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage2" class="sc-pYATD geuAXS pf-f81c42c9">{% assign images = product.images %}<div spacing="[object Object]" class="sc-pIvzE jIBLDF"><div data-pf-type="MasterImage" class="sc-pAayJ fOa-DwG"><img class="pf-img-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.featured_image | img_url: 'x361.953', scale: 2 }}" alt="{{ product.featured_image.alt }}" draggable="false">{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-oUbIU kkgvSC">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-pkURi jKvUwv {% if 5 < images.size %}arrow-all{%endif%}{% if 5 < images.size %} arrow-laptop{%endif%}{% if 5 < images.size %} arrow-tablet{%endif%}"><div data-pf-type="ProductImageList" class="sc-psQTH ITnEo">{% assign pf_all = '' %}{% assign pf_laptop = '' %}{% assign pf_tablet = '' %}{% assign pf_mobile = '' %}{% for i in (0..images.size) limit:images.size %}{% assign image = images[i] %}{% if true %}{% if i > 4 %}{% assign pf_all = 'all_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_laptop = 'laptop_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_tablet = 'tablet_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_mobile = 'mobile_hd' %}{% endif  %}{% endif  %}<div class="sc-qPkqk kuHLLu pf-1cfb3d34 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img class="pf-img-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt }}" draggable="false"></div>{% endfor %} </div>{% if true %}<div data-pf-nav="prev" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-left"></i></div><div data-pf-nav="next" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-right"></i></div>{% endif  %}</div></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-b4ae3ce5" data-pf-type="Column"><h3 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-93c69afd">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-9afd1967">{{ product.variants[0].price | money }}</div><div data-show-button="true" data-more="" data-less="" data-product-type="content" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-0dae1269">{{ product.content }}</div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-4265b4ae"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-1269cbfb"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div><button data-product-id="{{ product.id }}" data-checkout="cart" class="sc-pcjuG uJAsR pf-4803ff99" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC"><span>Add To Cart</span></button></div><a class="sc-pYbQl dqXhNs pf-ff99b433" data-product-id="{{ product.id }}" href="{{ product.url }}" data-pf-type="ProductViewDetails"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-be76a52b">View details</span></a></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="ProductPreview" class="sc-pJVLq dIjrXL pf-5335ea03">{% section 'product-template' %}
{% section 'product-recommendations' %}
{% section 'recently-viewed-products' %}

<script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)};
  ShopifyXR('addModels', {{ product.media | where: 'media_type', 'model' | json }});
</script></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.15.0","shopDomain":"nereus-uk.myshopify.com","elementData":{"pf-f81c42c9":{"listPosition":3,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":0,"onHover":0,"clickAction":0,"imageSource":"featured","_type":"ProductImage2"},"pf-3d34f81c":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"Nereus Ylang Ylang","pageType":"product","pageId":"0a4a1cbd-b86a-4784-b800-4a3bfb8a4405","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":false,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-12-15T22:39:52.256Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.15.0/core/helper.js?t=20201215221213" defer></script>